.hyperlink {
    color: green;
}

.hyperlink:hover {
    color: rgb(53, 168, 53);
}

.hyperlink:active {
    color: rgb(33, 92, 33);
}

body {
    background-color: rgb(22, 22, 22);
}

.headerBox {
    justify-self: center;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 3px green solid;
    border-left: 3px green solid;
    border-right: 3px green solid;
    text-align: center;
    width: 500px;
    height: 150px;
    background: url("img/static2.gif");
    background-size: 510px 160px;
    background-color: rgb(83, 83, 83);
    user-select: none;
}

#navbar {
    justify-self: center;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px green solid;
    text-align: center;
    width: 500px;
    background-image: url("img/scanlines.png");
    background-color: rgb(83, 83, 83);
}

.navbtn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 750;
    -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.438);
    color: rgb(48, 133, 48);
    user-select: none;
    cursor: pointer;
}

.navbtn:hover {
    background-color: rgba(0, 0, 0, 0.39);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 750;
    -webkit-text-stroke: 0.4px rgba(153, 153, 153, 0.438);
    color: rgb(79, 160, 79);
    user-select: none;
    cursor: pointer;
}

.contentBox {
    justify-self: center;
    border: 3px green solid;
    max-width: 55%;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    background-color: rgb(54, 54, 54);
}

#maintitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: rgb(38, 112, 38);
    text-shadow: 4px 4px black;
    -webkit-text-stroke: 3px rgba(29, 29, 29, 0.233);
    user-select: none;
}

#subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.438);
    color: rgb(48, 133, 48);
    user-select: none;
}

#namegenView {
    min-width: 720px;
    min-height: 600px;
}

#generatorBox {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
    max-height: 580px;
}

#factionbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 75%;
    max-height: 550px;
    width: 350px;
}

.flexcolumn {
    display: flex;
    flex: 33%;
    align-items: baseline;
    flex-wrap: wrap;
}

.factionchoice {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;
    align-items: center;
}

.choiceImg {
    flex-shrink: 4;
    position: relative;
    max-width: 120px;
    max-height: 120px;
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    user-select: none;
    cursor: pointer;
    border: 1px rgba(0, 0, 0, 0) solid;
    transition: all 0.3s ease;
}

.choiceImg.selected {
    flex-shrink: 4;
    position: relative;
    max-width: 120px;
    max-height: 120px;
    opacity: 1;
    -webkit-filter: grayscale(0%);
    user-select: none;
    cursor: pointer;
    border: 1px rgba(0, 0, 0, 0) solid;
}

.choiceImg:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
}

.choiceImg:active {
    opacity: 1;
    border: 1px rgba(255, 255, 255, 0.514) solid;
}

img {

    display: block;
    margin: auto;
}

.imgDesc {
    opacity: 1;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.164);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: rgb(55, 182, 55);
    position: absolute;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
}

.selfactionBox {
    display: flex;
    flex-direction: column;
    border: 3px green solid;
    max-width: 40%;
    max-height: 80%;
    padding-left: 8px;
    padding-right: 8px;
    margin: 8px;
    color: white;
    background-color: rgb(54, 54, 54);
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    color: rgb(48, 133, 48);
    text-shadow: 2px 2px black;
    text-align: center;
}

p4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-shadow: 1.5px 1.5px black;
}

p5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-shadow: 1.5px 1.5px black;
    align-self: center;
}

.profileImg {
    position: absolute;
    max-width: 60px;
    max-height: 80px;
    float: left;
    margin-top: 12px;
    margin-left: 7px;
}

.enemiesBox {
    display: flex;
    justify-self: center;
    align-self: center;
    border: 3px green solid;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90%;
    max-height: 40%;
    padding: 5px;
    margin-bottom: 8px;
    color: white;
    background-color: rgb(34, 34, 34);
}

.enemyImg {
    max-width: 45px;
    max-height: 50px;
    margin: 3px;
    user-select: none;
}

#genderChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
}

.generalBtn {
    background-color: rgba(36, 36, 36, 0.418);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 5px;
    height: 20px;
    max-width: 100px;
    border: rgb(24, 24, 24) 1px solid;
    border-radius: 10%;
    user-select: none;
    cursor: pointer;
}

.largeBtn {
    background-color: rgba(36, 36, 36, 0.418);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 5px;
    height: 20px;
    max-width: 100px;
    border: rgb(24, 24, 24) 1px solid;
    border-radius: 10%;
    user-select: none;
    cursor: pointer;
}

.generalBtn:hover {
    background-color: rgba(36, 36, 36, 0.774);
}

.generalBtn:active {
    background-color: rgba(24, 51, 37, 0.774);
    border: white 1px solid;
}